* {
    margin:  0;
    padding: 0;
}
.container {
    height: 3000px;
}
.layer {
    background-color: hsl(180, 52%, 96%);
    height: 600px;
    width: 129%;
    margin-bottom: 0px;
}
.main-screen {
    display: flex;
    justify-content: center;
    
    width: 100%;
    background-color: hsl(180, 52%, 96%);
}
.main-screen1 {
    display: flex;
    justify-content: center;
    /* position: relative; */
    
    width: 100%;
    background-color: hsl(180, 52%, 96%);
}
.all-rows {
    display: flex;
    justify-content: space-around;
    height: 115px;
   
    /* border-style: solid; */
    width: 80%;
    margin-top: 3%;
    background-color: white;

}
.first-row {
    border-left: 5px solid ;
    border-color: hsl(180, 29%, 50%);
}
.second-row {
    border-left: 5px solid ;
    border-color: hsl(180, 29%, 50%);
}
.dp-image {
    margin-left: -13%;
    margin-top: 1%;
}
.dp-image1 {
    margin-left: -30%;
}
.all-left-segment {
    display: block;
    margin-left: -30%;
    line-height: 30%;
    padding-top: 2%;
}
.top-left {
    display: flex;
    justify-content: space-between;
}
.top-left1 {
    margin-left: -130%;
}
.job-details {
    display: flex;
    justify-content: space-between;
}
.job-details1 {
    display: flex;
    /* justify-content: space-between; */
}
.all-right-segment {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.all-right-segment1 {
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
    margin-left: 100%;
}
.all-right-segment2 {
    display: flex;
    justify-content: space-between;
    margin-top: -30%;
    margin-left: 90%;
}
.all-roles {
    margin-top: 3%;
}
.level {
    margin-top: 3%;
    margin-left: 3%;
}
.all-languages {
    margin-top: 3%;
    margin-left: 5%;
}
.description-text {
    color: hsl(180, 78%, 55%);
}
.update-entry {
    color: white;
    background-color: hsl(180, 78%, 55%);
    height: 20px;
    padding: 3px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: -5px;
    margin-right: -10px;
}
.update-entry1 {
    color: white;
    background-color: hsl(180, 78%, 55%);
    height: 20px;
    padding: 3px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: -5px;
    margin-right: 60px;
}
.featured {
    background-color: hsl(180, 14%, 20%);
    color: white;
    height: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: -5px;
    margin-right: -40px;
}

.job-role {
    font-weight: 700;
    color: hsl(180, 14%, 20%);
}
.role {
    color:  hsl(180, 76%, 26%);
    font-weight: 500;
    background-color: rgb(183, 233, 233);
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 130px;
    cursor: pointer;
}
.role:hover {
    color: white;
    background-color: hsl(180, 76%, 26%);
}
.level {
    color:  hsl(180, 76%, 26%);
    font-weight: 500;
    background-color: rgb(183, 233, 233);
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    /* width: 130px; */
}
.level:hover {
    color: white;
    background-color: hsl(180, 76%, 26%);
}
.all-languages {
    color:  hsl(180, 76%, 26%);
    font-weight: 500;
    background-color: rgb(183, 233, 233);
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    
}
.all-languages:hover {
    color: white;
    background-color: hsl(180, 76%, 26%);
}
.job-details {
    color: hsl(180, 8%, 52%);
}